[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vandal/Desktop/urserver-autostart.desktop]
row=4
col=0

[/home/vandal/Desktop/steam.desktop]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/vandal]
row=2
col=0

